  /* Master Styles */

  body {
    margin: auto;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}
/* Nav Styles */
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side{
    display: flex;
}

.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height:  22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;

}

.nav-link-wrapper a:hover {
    color: black;
}

/* Portfolio Styles */

.imageblock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.caption{
    text-align: center;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}

/*

@keyframes fade {
    0% {
        opacity: 0;
    }
    0.1% {
        opacity: 1;
    }
    99.9% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.vid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10000s;
    animation-direction: alternate;
}
// about page styles 

.text-body{
    padding-left: 20px;
    padding-right: 20px;
} */ 